[Unit]
Description=This is a template Unit file
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/ubuntu/coronaCases
ExecStart=/home/ubuntu/.local/bin/gunicorn --chdir /home/ubuntu/coronaCases --bind 0.0.0.0:5000 wsgi:app
Restart=always
User=ubuntu
[Install]
WantedBy=multi-user.target
