{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block headSergiu %}
<script src="https://code.highcharts.com/highcharts.js"></script>

{% endblock %}

{% block body %}
    {% block main %}

	<p>{{ content }}</p>
	
	
	<div id="container" style="margin-right: 200px; margin-left: 200px;"></div>
	<br>
	<div id="container2" style="margin-right: 200px; margin-left: 200px;"></div>
	<br>
	<div id="container3" style="margin-right: 200px; margin-left: 200px;"></div>
	<script>
		
		Highcharts.chart('container', {

			tooltip: {
				backgroundColor: {
					linearGradient: [0, 0, 0, 60],
					stops: [
						[0, '#FFFFFF'],
						[1, '#E0E0E0']
					]
				},
				borderWidth: 1,
				borderColor: '#AAA'
			},
			

			xAxis: {
				categories: JSON.parse('{{ dates | safe}}')
			},

			series: [{
				name: 'new',
				data: JSON.parse('{{ newCases | safe}}')
			}],
			title: {
				text: "New Cases"
			},
		});


		Highcharts.chart('container2', {

			tooltip: {
				backgroundColor: {
					linearGradient: [0, 0, 0, 60],
					stops: [
						[0, '#FFFFFF'],
						[1, '#E0E0E0']
					]
				},
				borderWidth: 1,
				borderColor: '#AAA'
			},


			xAxis: {
				categories: JSON.parse('{{ dates | safe}}')
			},

			series: [{
				name: 'newDeaths',
				data: JSON.parse('{{ newDeaths | safe}}'),
				
			}],
			title: {
				text: "New Deaths"
			},
		});


		Highcharts.chart('container3', {

			tooltip: {
				backgroundColor: {
					linearGradient: [0, 0, 0, 60],
					stops: [
						[0, '#FFFFFF'],
						[1, '#E0E0E0']
					]
				},
				borderWidth: 1,
				borderColor: '#AAA'
			},


			xAxis: {
				categories: JSON.parse('{{ dates | safe}}')
			},

			series: [{
				name: 'active',
				data: JSON.parse('{{ active | safe}}'),
				
			}],
			title: {
				text: "Active Cases"
			},
		});
	
	</script>
    {% endblock %}
{% endblock %}