{% extends "layout.html" %}

{% block title %}
    Subscribe
{% endblock %}
{% block headSergiu %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

{% endblock %}


{% block main %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        <div class="flash {{category}}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
<br>
<br>
    {% if query == "create" %}
        <form class="text-center border border-light p-5" style="margin-right: 200px; margin-left: 200px;"   method="post">
            <p class="h4 mb-4">create new user</p>
            <br>
                <div class="form-group">
                    <!-- Email -->
                    <input type="email" id="defaultLoginFormEmail"  name="email" class="form-control mb-4" placeholder="E-mail" required>
                </div>
                <br>
                <input type="name" id="defaultLoginFormName" name="name" class="form-control mb-4" placeholder="First and Last Name" required>
                <br>
                <div id="selectCountry">
                    <select name="countries" id="selectCountry" class="form-control mb-4" method="GET">
                        {% for country in countries %}
                            <option value="{{country}}">{{country}}</option>"
                        {% endfor %}    
                    </select>
                    <small id="selectCountry" class="form-text text-muted">Choose the country you want to get updates for.</small>
                </div>
                <br>
                <button class="btn btn-info btn-block my-4" type="submit">Submit</button>
        </form>
    {% elif query == "edit" %}
        <form class="text-center border border-light p-5" style="margin-right: 200px; margin-left: 200px;"  action="/manageUsers" method="post">
            <p class="h4 mb-4">{{ query }} {{ emailAddress }}</p>
            <br>
            <input type="name" id="defaultLoginFormName" name="name" class="form-control mb-4" placeholder="First and Last Name">
            <br>
            <div id="selectCountry">
                <select name="countries" id="selectCountry" class="form-control mb-4" method="GET">
                    {% for country in countries %}
                        <option value="{{country}}">{{country}}</option>"
                    {% endfor %}    
                </select>
                <small id="selectCountry" class="form-text text-muted">Choose the country you want to get updates for.</small>
            </div>
            <button class="btn btn-info btn-block my-4" type="submit">Submit</button>
        </form>

    {% endif %}

<div class="container">

</div>


{% endblock %}