{% extends "layout.html" %}


{% block title %}
    {{ news }}
{% endblock %}

{% block headSergiu %}
  <link rel="stylesheet" href="./mystyle.css">
{% endblock %}

{% block body %}
    {% block main %}
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col item-zoom">
                    <img src="{{i}}" alt="" class="img-fluid img-thumbnail">
                </div>
                <div class="col-md-auto">
                    <p>{{ content }}</p>
                </div>
                <div class="col-md-auto">
                    <iframe class="rounded mx-auto d-block" src="https://covid-19.dataflowkit.com/assets/widget/c19-widget-light.html" 
                    frameborder="0" scrolling="no"
                    width="400" height="250"></div>
                </div>
            </div>
            <br/>
        </div>
        <div class="row">
            <div class="col">

          </div>
        

    {% endblock %}
{% endblock %}