{% extends "layout.html" %}


{% block title %}
    {{ news }}
{% endblock %}

{% block headSergiu %}
  <link rel="stylesheet" href="./mystyle.css">
{% endblock %}

{% block body %}
    {% block main %}
    <p style="text-align: center; font-family: 'Roboto', sans-serif; font-size: 20px;">{{ title }}</p>
    <br> <br>
        <div class="container" >
            <div style="margin-right: 200px; margin-left: 200px;">
                <div class="col item-zoom">
                    <img src="{{i}}" alt="" class="img-fluid img-thumbnail">
                </div>
                <div class="col-md-auto">
                    <p>{{ content }}</p>
                </div>
                <br>
                <br>
                <div class="col-md-auto">
                    <iframe class="rounded mx-auto d-block" src="https://covid-19.dataflowkit.com/assets/widget/c19-widget-light.html" 
                    frameborder="0" scrolling="no"
                    width="400" height="400"></div>
                </div>
            </div>
            <br/>
        </div>
        <div class="row">
            <div class="col">

          </div>
        

    {% endblock %}
{% endblock %}