{% extends "layout.html" %}

{% block title %}
    Subscribe
{% endblock %}
{% block headSergiu %}
    <link rel="stylesheet" href="mystyle.css">
{% endblock %}

{% block main %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        {% if category == "error" %}
            <div style="background-color: rgb(245, 215, 215); margin-right: 400px; margin-left: 400px;">{{ message }}</div>
        {% elif category == "success" %}
            <div style="background-color: rgb(204, 255, 229); margin-right: 400px; margin-left: 400px;">{{ message }}</div>
        {% elif category == "info" %}
            <div style="background-color: rgb(255, 255, 204); margin-right: 400px; margin-left: 400px;">{{ message }}</div>
        {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}
<br><br>
<form class="text-center border border-light p-5" style="margin-right: 400px; margin-left: 400px;" action="/subscription" method="post">
    <p class="h4 mb-4">Subscribe</p>
    <div class="form-group">
        <!-- Email -->
        <input type="email" id="defaultLoginFormEmail"  name="email" class="form-control mb-4" placeholder="E-mail" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <!-- Name -->
    <input type="name" id="defaultLoginFormName" name="name" class="form-control mb-4" placeholder="First and Last Name" required>
    <br>
    <div>
        <select name="countries" id="defaultLoginFormName" class="form-control mb-4" method="GET">
            {% for country in countries %}
                <option value="{{country}}">{{country}}</option>"
            {% endfor %}    
        </select>
        <small id="countryHelp" class="form-text text-muted">Choose the country you want to get updates from.</small>
    </div>
    <br>
    <div class="d-flex justify-content-around">
        <div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="unsubscribe">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
        </div>
    </div>
    <!-- Submit button -->
    <button class="btn btn-info btn-block my-4" type="submit">Submit</button>
</form>

<div class="container">

</div>


{% endblock %}