{% extends "layout.html" %}

{% block title %}
    Cases In World
{% endblock %}

{% block headSergiu %}
    <link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}

{% block main %}
    <div class="col">
        <div style="margin-right: 200px; margin-left: 200px;">
        
            <table id="example" class="table table-striped " style="width: 100%;" >
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email Address</th>
                        <th>Country</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td>
                            <a class="btn btn-success" href="manageUsers/create/newUser/0">Create User</a>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    
                </tfoot>
                <tbody>
                <form class="text-center border border-light p-5" style="margin-right: 200px; margin-left: 200px;" action="/usersTable" method="post">
                    {% for dict_item in users %}
                        <tr>
                            <td>
                                {{dict_item.get("Name")}}
                            </td>
                            <td>
                                {{dict_item.get("emailAdress")}}
                            </td>
                            <td>
                                {{dict_item.get("country")}}
                            </td>
                            <td>
                                {% set emailAddress = dict_item.get("emailAdress") %}
                                {% set userID = dict_item.get("subscriber_id") %}
                                <a class="btn btn-info" href="manageUsers/edit/{{ emailAddress }}/{{ userID }}">Edit</a>
                            </td>
                            <td>
                                {% set emailAddress = dict_item.get("emailAdress") %}
                                <a class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </form>
                </tbody>
            </table>
        </div>
        <script>
            $(document).ready(function() {
                $('#example').DataTable({
        
                }); 
            } );
        </script>        
{% endblock %}