<form class="text-center border border-light p-5" style="margin-right: 200px; margin-left: 200px;" action="/manageUsers" method="post">
    <p class="h4 mb-4">User list</p>
    <br>
    <div>
        gigel
        <button class="btn btn-secondary">edit</button>
        <button class="btn btn-danger">delete</button>
    </div>
    <div>
        romica
        <button class="btn btn-secondary">edit</button>
        <button class="btn btn-danger">delete</button>
    </div>
    <div>
        sandel
        <button class="btn btn-secondary">edit</button>
        <button class="btn btn-danger">delete</button>
    </div>
    <div>
        bobonete
        <button class="btn btn-secondary">edit</button>
        <button class="btn btn-danger">delete</button>
    </div>
    <button class="btn btn-info  my-4" type="submit">Create</button>
</form>


Pentru link edit:
<a class="btn btn-info  my-4" href="manageUsers?action=edit">Edit</a>
Pentru link create:
<a class="btn btn-info  my-4" href="manageUsers?action=create">Create</a>